#main-navigation .sf-menu li li.sfHover>a, #main-navigation ul.menu li a:hover, #header-top ul.menu li a:hover, #header-top .sf-menu li li.sfHover>a,
#header-top ul.menu>li>a.active, #header-top ul.main-menu.menu>li.active-trail>a:hover, #header-top .sf-menu>li.sfHover>a,
.header-top-area .form-text, .header-top-area select { background-color: #2a4401; }

.header-top-area table td, .header-top-area table th { border-color: #2a4401; }

#header-top ul.menu li a { border-left: 1px solid #2a4401; }

#header-top ul.menu li:last-child>a { border-right: 1px solid #2a4401; }

a, blockquote:after, ul.menu li.collapsed > a:before, ul.menu li.expanded > a:before, .footer-area ul.menu li.active-trail > a:before, ul.pager li.pager-current, 
.item-list ul li.pager-current.last, .node-mt .comment-counter, .comment ul.links li a, .ui-widget-content a, .view-mt-testimonials .views-field-title a,
.footer-area ul.social-media-info li a, ul.social-media-info li a:hover i, .ui-widget-content ul.links li a, .node-mt .post-submitted-info i, 
.view-mt-testimonials .views-field-body p:first-child:after, .node-type-mt-testimonial .field-name-body p:first-child:after, .footer-area .views-field-title a 
{ color: #3b6000; }

ul.menu li > a:hover:before { color: #3b6000!important; }

ul.pager li.pager-current, .item-list ul li.pager-current.last { border-bottom: 2px solid #3b6000; }

ul.links li a, a.more, input[type="submit"], input[type="reset"], input[type="button"], #main-navigation .sf-menu li.sfHover>a, #header-top, .checkout-buttons .checkout-cancel, 
.checkout-buttons .checkout-back, .checkout-buttons .checkout-cancel:focus, .checkout-buttons .checkout-back:focus { background-color: #3b6000; }

#main-navigation .sf-menu ul, #header-top .sf-menu ul { background: rgba(59,96,0,0.95); }

.caption .more { background: rgba(59,96,0,0.90); }

.caption .more:hover { opacity: 0.85; filter: alpha(opacity=85); background: rgba(59,96,0,0.90); }

.overlayed a:before { 
background: rgba(82,134,0,0.75);
background: -moz-linear-gradient(top,  rgba(82,134,0,0.75) 0%, rgba(59,96,0,0.75) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(82,134,0,0.75)), color-stop(100%,rgba(59,96,0,0.75))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(82,134,0,0.75) 0%,rgba(59,96,0,0.75) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(82,134,0,0.75) 0%,rgba(59,96,0,0.75) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(82,134,0,0.75) 0%,rgba(59,96,0,0.75) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(82,134,0,0.75) 0%,rgba(59,96,0,0.75) 100%); /* W3C */	
}

a:hover, a:focus, h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover, .footer-area h1 a:hover, .footer-area h2 a:hover, 
.footer-area h3 a:hover, .footer-area h4 a:hover, .footer-area h5 a:hover, .footer-area h6 a:hover, .footer-area ul.menu li a:hover, ul.pager li > a:hover, 
#breadcrumb a:hover, .comment ul.links li a:hover, .views-field-title a:hover, .ui-widget-content a:hover, ul.members-social-bookmarks li a:hover, 
.ui-widget-content ul.links li a:hover { color: #528600; }

ul.pager li > a:hover { border-bottom: 2px solid #528600; }

#header-top ul.menu>li>a:hover, #header-top ul.menu>li>a.active, #header-top ul.main-menu.menu>li.active-trail>a:hover, #header-top .sf-menu>li.sfHover>a 
{ border-bottom: 4px solid #528600; }

.view-mt-features .views-row:hover .icon, ul.social-bookmarks li a:hover, ul.brands li a:hover, ul.members-social-bookmarks li a:hover, 
.header-top-area ul.social-bookmarks li a:hover, .header-top-area ul.brands li a:hover { border-color: #528600; }

ul.links li a:hover, a.more:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover,
.checkout-buttons .checkout-cancel:hover, .checkout-buttons .checkout-back:hover { background-color: #528600; }

/*resets*/
.header-top-area a { color: #fff; text-decoration: underline; }

.header-top-area a:hover { color: #fff; text-decoration: none; }

#header-top .sf-menu ul li a { border-color: transparent!important; }

#header-top ul.menu>li>a:hover, #header-top ul.menu>li>a.active, #header-top ul.main-menu.menu>li.active-trail>a:hover { border-left: 1px solid transparent; }

#header-top ul.menu li:last-child>a:hover, #header-top ul.menu>li:last-child>a.active, #header-top ul.main-menu.menu>li.active-trail:last-child>a:hover 
{ border-right: 1px solid transparent; }

.header-top-area .block-search .form-actions:after, .footer-area .block-search .form-actions:after, .subfooter-area .block-search .form-actions:after,
.header-top-area .form-actions input, .footer-area .form-actions input, .subfooter-area .form-actions input {
background-color: rgba(0,0,0,0.2)!important; }

.header-top-area ul.social-bookmarks li a, .header-top-area ul.brands li a { color: #e1e1e1; }

.header-top-area ul.social-bookmarks li a, .header-top-area ul.brands li a { border-color: #e1e1e1; }

.ui-widget-content ul.links li a:hover { background-color: transparent; }